*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

/* main and cards*/
.container{
    width:80%;
    margin: 1rem auto;
}
.card{
    margin: 0 5px;
    float:left;
    width: 349px;
}
.img_container{
    position:relative;
}
.product_img, .img_hidden{
    width:100%;    
} 

/* tags, buttons */
.favourite{
    position:absolute;
    top:1rem;
    right:0;
    height: 40px;
    width: 40px;
    font-size: 25px;
    background-color: white;
    line-height: 40px;
    text-align: center;
}
.discount{
    position: absolute;
    bottom:1rem;
    left:0;
    background-color: red;
    padding: 5px;
}
.sale{
    color: white;
    font-weight: bold;
}
.sustainable::after{
    position:absolute;
    bottom:0;
    left: 52px ;
    padding: 5px;
    content: "Sustainable";
    background-color: #2F815A;
}
.only_sustainable::after{
    color: white;
    font-weight: bold;
    position:absolute;
    bottom:1rem;
    left: 0px ;
    padding: 5px;
    content: "Sustainable";
    background-color: #2F815A;
}

/* description txt */
.description{
    /* float:left; */
    padding-top: .5rem;
    margin-bottom:2rem;
}
.brand{
    color:rgb(68, 68, 68);
    padding-bottom: 0.4rem;
}
.product_name{
    text-transform: uppercase;
    font-size: 1rem;
}
.description>h4{
    display: inline;
}
.discount_price{
    color:red;
    font-size: 1.2rem;
}
.old_price{
    font-weight: lighter;
    text-decoration-line: line-through;
    color: gray;
}

/* interactions */
.img_hidden{
    position: absolute;
    top: 0;
    left:0;
    display:none;
}
.img_container:hover .img_hidden{
    display: block;
}