*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

/* main */
.container{
    width:80%;
    margin: 1rem auto;
}
.card{
    float:left;
    margin: 0 5px;
    position:relative;
}
.product_img{
    width:300px;    
} 

/* tags, buttons */
.favourite{
    position:absolute;
    top:1rem;
    right:0;
    height: 40px;
    width: 40px;
    font-size: 25px;
    background-color: white;
    line-height: 40px;
    text-align: center;
}